html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* system font stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: $color_dark;
  background: $color_bg;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  word-break: break-all;
}

h1 {
  font-size: 1.6rem;
  color: $color_med;

  @mixin m_screen {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 1.4rem;

  @mixin m_screen {
    font-size: 2rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  padding: 0;
  border: none;
  background: transparent;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color_light;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color_light;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $color_light;
}

/* DARK THEME */

body.dark-theme {
  color: $dark-color_light;
  background: $dark-color_bg;

  h1 {
    color: $color_dark;
  }

  ::placeholder {
    color: $dark-color_dark;
  }

  :-ms-input-placeholder {
    color: $dark-color_dark;
  }

  ::-ms-input-placeholder {
    color: $dark-color_dark;
  }
}
