html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  color: $color_dark;
  background: $color_bg;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.2rem;
  color: $color_med;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $color_light;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color_light;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $color_light;
}

/* DARK THEME */

body.dark-theme {
  color: $dark-color_light;
  background: $dark-color_bg;

  h1 {
    color: $color_dark;
  }

  ::placeholder {
    color: $dark-color_dark;
  }

  :-ms-input-placeholder {
    color: $dark-color_dark;
  }

  ::-ms-input-placeholder {
    color: $dark-color_dark;
  }
}
