/* COLORS */
$success: #4da950;

$error: #b85858;
$error_hover: #933f3f;
$dark-error: #522d2d;
$dark-error_hover: #633737;

/* light */
$color_hue: 180;
$color_saturation: 30%;

$color_bg: hsl($color_hue, $color_saturation, 98%);
$color_dark: hsl($color_hue, $color_saturation, 25%);
$color_med: hsl($color_hue, $color_saturation, 50%);
$color_light: hsl($color_hue, $color_saturation, 80%);
$color_med_hover: hsl($color_hue, $color_saturation, 40%);

/* dark */
$dark-color_hue: 180;
$dark-color_saturation: 30%;

$dark-color_bg: hsl($dark-color_hue, $dark-color_saturation, 8%);
$dark-color_dark: hsl($dark-color_hue, $dark-color_saturation, 15%);
$dark-color_med: hsl($dark-color_hue, $dark-color_saturation, 35%);
$dark-color_light: hsl($dark-color_hue, $dark-color_saturation, 80%);
$dark-color_med_hover: hsl($dark-color_hue, $dark-color_saturation, 40%);

/* SIZES */
$wrapper_width: 1200px;
$wrapper_width_narrow: 900px;

/* BORDER RADIUS */
$radius_small: 5px;
$radius_med: 15px;
$radius_big: 20px;
$radius_round: 100px;

/* ANIMATIONS */
$anim_fast: 0.2s;
$anim_med: 0.6s;
$anim_slow: 1s;

/* FONTS */
$font_jap: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo,
  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
