.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  padding: 5px 15px;
  background: $color_med;
  border: none;
  border-radius: $radius_round;

  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;

  cursor: pointer;
  overflow: hidden;
  transition: background $anim_fast ease-out;

  @mixin hover {
    &:hover:not(:disabled) {
      background: $color_med_hover;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--delete {
    background: $error;

    svg {
      font-size: 0.8rem;
    }
  }

  @mixin hover {
    &--delete:hover:not(:disabled) {
      background: $error_hover;
      svg {
        animation: shake $anim_med ease-out;
      }
    }
  }

  &__icon {
    margin-right: 10px;
    font-size: 1rem;
  }

  &__loading-icon {
    animation: loadingSpin $anim_slow linear infinite;
  }

  &__group-row {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin-top: 20px;
      margin-right: 20px; /* not optimal, but useful when buttons wrap on small screen sizes */
    }
  }
}

/* DARK THEME */

body.dark-theme .button {
  background: $dark-color_dark;

  @mixin hover {
    &:hover:not(:disabled) {
      background: $dark-color_med;
    }
  }

  &--delete {
    background: $dark-error;

    @mixin hover {
      &:hover:not(:disabled) {
        background: $dark-error_hover;
      }
    }
  }
}
