.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75em 1.25em;
  background: $color_med;
  border: none;
  border-radius: $radius_round;

  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;

  cursor: pointer;
  overflow: hidden;
  transition: background $anim_fast ease-out;

  @mixin hover {
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      background: color($color_med shade(20%));
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--delete {
    background: $color_error;

    svg {
      font-size: 0.8rem;
    }
  }

  @mixin hover {
    &--delete:hover:not(:disabled),
    &--delete:focus:not(:disabled),
    &--delete:active:not(:disabled) {
      background: color($color_error shade(20%));
      svg {
        animation: shake $anim_med ease-out;
      }
    }
  }

  &__icon {
    margin-right: 10px;
    font-size: 1rem;
  }

  &__loading-icon {
    animation: loadingSpin $anim_slow linear infinite;
  }

  &__group-row {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin-top: 20px;
      margin-right: 20px; /* not optimal, but useful when buttons wrap on small screen sizes */
    }
  }

  &__delete-group {
    position: relative;
  }
}

/* DARK THEME */

body.dark-theme .button {
  background: $dark-color_dark;

  @mixin hover {
    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      background: $dark-color_med;
    }
  }

  &--delete {
    background: $dark-color_error;

    @mixin hover {
      &:hover:not(:disabled),
      &:focus:not(:disabled),
      &:active:not(:disabled) {
        background: color($dark-color_error tint(10%) saturation(+ 20%));
      }
    }
  }
}
