.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  padding: 5px 15px;
  background: $color_med;
  border: none;
  border-radius: $radius_round;

  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;

  cursor: pointer;
  overflow: hidden;
  transition: background $anim_fast ease-out;

  &:hover:not(:disabled) {
    background: $color_med_hover;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--delete {
    background: $error;

    svg {
      font-size: 0.8rem;
    }
  }

  &--delete:hover:not(:disabled) {
    background: $error_hover;
    svg {
      animation: shake $anim_med ease-out;
    }
  }

  &__icon {
    margin-right: 10px;
    font-size: 1rem;
  }

  &__group-row {
    display: flex;

    & > * + * {
      margin-left: 20px;
    }
  }
}

/* DARK THEME */

body.dark-theme .button {
  background: $dark-color_dark;

  &:hover:not(:disabled) {
    background: $dark-color_med;
  }

  &--delete {
    background: $dark-error;

    &:hover:not(:disabled) {
      background: $dark-error_hover;
    }
  }
}
