.empty-booklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  text-align: center;
  color: $color_med;
  line-height: 1.5;

  &__title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__icon {
    margin-bottom: 20px;
    font-size: 3rem;
    color: $color_light;
  }
}

/* DARK-THEME */

body.dark-theme .empty-booklist {
  color: $dark-color_med;

  &__icon {
    color: $dark-color_dark;
  }
}
