.floating-messages {
  &__msg {
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);

    display: none;
    align-items: center;

    padding: 10px 30px;
    border-radius: $radius_round;
    background: $color_med;
    box-shadow: 0px 6px 25px 0px $color_light;

    color: #fff;
    font-size: 0.9rem;

    animation: alertPopup ease-out 4s forwards;
    z-index: 9999;

    & span {
      margin-left: 10px;
    }
  }

  &__msg:last-of-type {
    display: flex;
  }
}

body.dark-theme .floating-messages__msg {
  background: $dark-color_med;
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.5);

  color: $dark-color_light;
}
