.form {
  margin-top: 60px;
  margin-bottom: 30px;

  & > * + * {
    margin-top: 30px;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    color: $color_med;
  }

  &__text-input,
  &__text-area {
    padding: 15px 20px;
    border-radius: $radius_big;
    border: 1px solid $color_light;
    font-size: 1rem;
    color: $color_dark;
    background: $color_bg;
    transition: border-color $anim_fast ease-out;

    &:focus {
      border-color: $color_med;
    }
  }

  &__text-input {
    border-radius: $radius_round;
  }

  &__text-area {
    min-height: 30vw;
    padding: 30px 20px;
  }

  &__cover-wrap {
    position: relative;
    width: 100px; /* padding-top is relative to the parent width */
    margin-left: 20px;
    border-radius: $radius_med;
    overflow: hidden;
  }

  &__cover {
    position: relative;
    height: 0; /* to keep aspect ratio */
    padding-top: 150%; /* to keep aspect ratio */

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__cover-delete {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: $error;
    border: none;
    border-top: 2px solid $color_bg;
    font-size: 0.7rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transition: background $anim_fast ease-out;
    cursor: pointer;
    z-index: 2;

    @mixin hover {
      &:hover {
        background-color: $error_hover;
      }
    }

    svg {
      margin-right: 3px;
    }
  }

  @mixin hover {
    &__cover-delete:hover svg {
      animation: shake $anim_med ease-out;
    }
  }
}

input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 10px;
  font-size: 0.9rem;
  color: $color_light;
  transition: color $anim_fast ease-out;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  height: 18px;
  width: 34px;
  background: $color_light;
  border-radius: $radius_round;
  cursor: pointer;
  transition: background $anim_fast ease-out;
}

input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  margin-right: 10px;
  height: 14px;
  width: 14px;
  background: $color_bg;
  border-radius: $radius_round;
  cursor: pointer;
  transition: transform $anim_fast ease-out;
}

input[type="checkbox"]:checked + label {
  color: $color_med;
}

input[type="checkbox"]:checked + label::before {
  background: $color_med;
}

input[type="checkbox"]:checked + label::after {
  transform: translateX(16px);
  background: #fff;
}

/* DARK THEME */

body.dark-theme .form {
  &__label {
    color: $dark-color_med;
  }

  &__text-input,
  &__text-area {
    border-color: $dark-color_dark;
    color: $dark-color_light;
    background: $dark-color_bg;

    &:focus {
      border-color: $dark-color_med;
    }
  }
  &__cover-delete {
    background-color: $dark-error;
    border-top: 2px solid $dark-color_bg;

    @mixin hover {
      &:hover {
        background-color: $dark-error_hover;
      }
    }
  }
}

body.dark-theme {
  input[type="checkbox"] + label {
    color: $dark-color_med;
  }

  input[type="checkbox"] + label::before {
    background: $dark-color_dark;
  }

  input[type="checkbox"] + label::after {
    background: $dark-color_med;
  }

  input[type="checkbox"]:checked + label {
    color: $dark-color_light;
  }

  input[type="checkbox"]:checked + label::before {
    background: $dark-color_med;
  }

  input[type="checkbox"]:checked + label::after {
    background: $dark-color_light;
  }
}
