.form {
  margin-top: 60px;
  margin-bottom: 10px;

  & > * + * {
    margin-top: 30px;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    color: $color_med;
  }

  &__text-input,
  &__text-area {
    padding: 15px 20px;
    border-radius: $radius_big;
    border: 1px solid $color_light;
    font-size: 1rem;
    color: $color_dark;
    background: $color_bg;
    transition: border-color $anim_fast ease-out;

    &:focus {
      border-color: $color_med;
    }
  }

  &__text-input {
    border-radius: $radius_round;
  }

  &__text-area {
    min-height: 200px;
    padding: 30px 20px;

    @mixin s_screen {
      min-height: 400px;
    }
  }
}

/* DARK THEME */

body.dark-theme .form {
  &__label {
    color: $dark-color_med;
  }

  &__text-input,
  &__text-area {
    border-color: $dark-color_dark;
    color: $dark-color_light;
    background: $dark-color_bg;

    &:focus {
      border-color: $dark-color_med;
    }
  }
}
