.header {
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: $radius_med;

    padding: 15px;
    width: 100%;
    /* max-width: $wrapper_width; */

    @mixin m_screen {
      padding: 30px;
    }

    @mixin l_screen {
      margin-bottom: 30px;
    }
  }

  &__logo {
    padding: 10px;
    border-radius: $radius_small;
    font-size: 2rem;
    color: $color_dark;
    transition: $anim_fast ease-out;
    transition-property: color, background;

    @mixin hover {
      &:hover,
      &:focus {
        background: $color_pale;
        color: color($color_med shade(20%));
      }
    }

    & svg {
      display: block; /* remove extra space below svg */
    }
  }

  &__tools {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * + * {
      margin-left: 20px;
    }
  }

  &__theme-icon {
    padding: 6px;
    border-radius: $radius_small;
    font-size: 1.5rem;
    color: $color_med;
    cursor: pointer;
    transition: $anim_fast ease-out;
    transition-property: color, background;

    @mixin hover {
      &:hover,
      &:focus {
        background: $color_pale;
        color: color($color_med shade(20%));
      }
    }

    & svg {
      display: block; /* remove extra space below svg */
    }
  }
}

/* DARK THEME */

body.dark-theme .header {
  &__logo,
  &__theme-icon {
    color: $dark-color_dark;

    @mixin hover {
      &:hover,
      &:focus {
        background: $dark-color_pale;
        color: $dark-color_med;
      }
    }
  }
}
