.header {
  /*border-bottom: 1px solid $color_light;*/

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    padding: 15px;
    width: 100%;
    /* max-width: $wrapper_width; */

    @mixin m_screen {
      padding: 30px;
    }

    @mixin l_screen {
      margin-bottom: 30px;
    }
  }

  &__logo {
    font-size: 2rem;
    color: $color_dark;
    transition: color $anim_fast ease-out;

    @mixin hover {
      &:hover {
        color: $color_med_hover;
      }
    }
  }

  &__tools {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * + * {
      margin-left: 20px;
    }
  }

  &__theme-icon {
    font-size: 1.5rem;
    color: $color_med;
    cursor: pointer;
    transition: color $anim_fast ease-out;

    @mixin hover {
      &:hover {
        color: $color_med_hover;
      }
    }
  }
}

/* DARK THEME */

body.dark-theme .header {
  &__logo,
  &__theme-icon {
    color: $dark-color_dark;

    @mixin hover {
      &:hover {
        color: $dark-color_med;
      }
    }
  }
}
