.reader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color_bg !important; /* !important to prevent 'japanese reading extension‘ to modify bg color*/

  &__title {
    margin-bottom: 6ch;
    font-size: 1.6rem;
    color: $color_med;
    text-align: center;
  }

  &__content {
    width: 100%;
    max-width: 60ch;
    font-family: $font_jap;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8;

    p {
      position: relative;
      margin-bottom: 3ch;
    }
  }

  &--font-big &__title {
    font-size: 2.6rem;
  }

  &--font-big &__content {
    font-size: 1.6rem;
  }
}

/* DARK THEME */

body.dark-theme .reader {
  background: $dark-color_bg !important; /* !important to prevent 'japanese reading extension‘ to modify bg color*/

  &__title {
    color: $dark-color_med;
  }
}
