.reader-tools {
  position: fixed;
  bottom: 15px;
  right: 15px;

  @mixin s_screen {
    bottom: 50px;
    right: 50px;
  }

  display: flex;
  flex-direction: column-reverse; /* to reconcile design choices and tab-navigation  */
  align-items: center;
  /*padding: 15px;*/
  border-radius: $radius_round;
  border: 2px solid $color_light;
  background: $color_bg;

  font-size: 1.3rem;

  z-index: 99;

  &__cog {
    padding: 15px;
    border-radius: 50%;
    color: $color_med;
    cursor: pointer;
    transition: $anim_fast ease-out;
    transition-property: color, background;

    @mixin hover {
      &:hover,
      &:focus {
        background: $color_pale;
        color: color($color_med shade(20%));
      }
    }

    & svg {
      display: block; /* remove extra space below svg */
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    padding: 15px 0 5px 0;
    /*overflow: hidden;*/

    & > * + * {
      margin-top: 5px;
    }
  }

  &__icons {
    display: block;
    padding: 6px;
    border-radius: $radius_small;
    color: $color_med;
    cursor: pointer;
    transition: color $anim_fast ease-out;

    @mixin hover {
      &:hover {
        color: color($color_med shade(20%));
      }
      &:focus {
        background: color($color_pale tint(30%));
      }
    }

    & svg {
      display: block; /* remove extra space below svg */
    }

    &--inactive {
      color: $color_light;
    }
  }

  &--open &__cog {
    color: $color_light;

    &:hover,
    &:focus {
      background: transparent;
      color: $color_med;
    }
  }
}

/* REACT CSS TRANSITIONS */

.reader-tools__wrap {
  &-enter {
    padding: 0;
    max-height: 0px;
  }

  &-enter-active {
    padding: 15px 0 5px 0;
    max-height: 300px;
    transition: $anim_fast ease-out;
    transition-property: max-height margin-bottom;
  }

  &-exit {
    padding: 15px 0 5px 0;
    max-height: 300px;
    transform: translateY(0);
  }

  &-exit-active {
    padding: 0;
    max-height: 0px;
    transition: $anim_fast ease-out;
    transition-property: max-height margin-bottom;
  }
}

/* icons animations */
.reader-tools__wrap-enter .reader-tools__icon-group {
  opacity: 0;
}

.reader-tools__wrap-enter-active .reader-tools__icon-group {
  opacity: 1;
  transition: opacity $anim_fast ease-out;

  /* not ideal, check later for better solution */
  &:nth-child(4) {
    transition-delay: 0.15s;
  }
  &:nth-child(3) {
    transition-delay: 0.18s;
  }
  &:nth-child(2) {
    transition-delay: 0.21s;
  }
  &:nth-child(1) {
    transition-delay: 0.24s;
  }
}

.reader-tools__wrap-exit .reader-tools__icon-group {
  opacity: 1;
}

.reader-tools__wrap-exit .reader-tools__icon-group {
  opacity: 0;
  transition: opacity $anim_fast ease-out;
}

/* DARK THEME */
body.dark-theme .reader-tools {
  border: 2px solid $dark-color_dark;
  background: $dark-color_bg;
  color: $dark-color_med;

  &__cog {
    color: $dark-color_med;
    transition: color $anim_fast ease-out;

    @mixin hover {
      &:hover,
      &:focus {
        background: $dark-color_pale;
        color: color($dark-color_med tint(20%));
      }
    }
  }

  &__icons {
    color: $dark-color_med;
    @mixin hover {
      &:hover {
        color: color($dark-color_med tint(20%));
      }
      &:focus {
        background: $dark-color_pale;
      }
    }

    &--inactive {
      color: $dark-color_dark;
    }
  }

  &--open .reader-tools__cog {
    color: $dark-color_dark;

    &:hover,
    &:focus {
      background: transparent;
      color: $dark-color_med;
    }
  }
}
