.reader-tools {
  position: fixed;
  bottom: 15px;
  right: 15px;

  @mixin s_screen {
    bottom: 50px;
    right: 50px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: $radius_round;
  border: 2px solid $color_light;
  background: $color_bg;

  font-size: 1.3rem;
  color: $color_med;

  z-index: 99;

  &__cog {
    color: $color_med;
    cursor: pointer;
  }

  &__wrap {
    display: none;
    flex-direction: column;
    margin-bottom: 25px;

    & > * + * {
      margin-top: 20px;
    }
  }

  &__icons {
    cursor: pointer;
    transition: color $anim_fast ease-out;

    @mixin hover {
      &:hover {
        color: $color_dark;
      }
    }

    &--inactive {
      color: $color_light;
    }
  }

  &--open &__wrap {
    display: flex;
  }

  &--open &__cog {
    color: $color_light;
  }
}

/* DARK THEME */
body.dark-theme .reader-tools {
  border: 2px solid $dark-color_dark;
  background: $dark-color_bg;
  color: $dark-color_med;

  &__cog {
    color: $dark-color_med;
  }

  &__icons {
    @mixin hover {
      &:hover {
        color: $dark-color_light;
      }
    }

    &--inactive {
      color: $dark-color_dark;
    }
  }

  &--open .reader-tools__cog {
    color: $dark-color_dark;
  }
}
