.search {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 40px;

  @mixin s_screen {
    flex-direction: row;
    align-items: center;
  }

  &__search-group {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    @mixin s_screen {
      margin-right: 20px;
    }
  }

  &__search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 1.2rem;
    color: $color_light;
    z-index: 1;
  }

  &__field {
    position: relative;
    flex: 1;
    padding: 15px 50px;
    border-radius: $radius_round;
    border: 1px solid $color_light;
    background: $color_bg;
    width: 100%;

    font-size: 1rem;
    color: $color_dark;
    transition: border $anim_fast ease-out;

    &:focus {
      border: 1px dashed $color_med;
    }
  }

  &__delete-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(200%);
    right: 20px;
    font-size: 1.2rem;
    color: $color_med;

    cursor: pointer;
    opacity: 0;
    transition: $anim_fast ease-out;
    transition-property: color, opacity, transform;

    @mixin hover {
      &:hover {
        color: color($color_med shade(20%));
      }
    }

    &--visible {
      opacity: 1;
      transform: translateY(-50%) translateX(0);
    }
  }

  &__filter-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    @mixin xs_screen {
      justify-content: center;

      & > * + * {
        margin-left: 20px;
      }
    }
  }

  &__checkbox-group {
    margin-top: 20px;

    @mixin s_screen {
      margin-top: 0;
    }
  }
}

/* DARK THEME */

body.dark-theme .search {
  &__field {
    background: $dark-color_bg;
    border-color: $dark-color_dark;
    color: $dark-color_light;

    &:focus {
      border-color: $dark-color_med;
    }
  }
  &__search-icon {
    color: $dark-color_dark;
  }
}
