.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;

  &__search-group {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  &__search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    font-size: 1.2rem;
    color: $color_light;
    z-index: 1;
  }

  &__field {
    position: relative;
    flex: 1;
    padding: 15px 50px;
    border-radius: $radius_round;
    border: 1px solid $color_light;
    background: $color_bg;

    font-size: 1rem;
    color: $color_dark;
    transition: border-color $anim_fast ease-out;

    &:focus {
      border-color: $color_med;
    }
  }

  &__delete-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(200%);
    right: 20px;
    font-size: 1.2rem;
    color: $color_med;

    cursor: pointer;
    opacity: 0;
    transition: $anim_fast ease-out;
    transition-property: color, opacity, transform;

    &:hover {
      color: $color_med_hover;
    }

    &--visible {
      opacity: 1;
      transform: translateY(-50%) translateX(0);
    }
  }

  &__filter-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__checkbox-group {
    margin-left: 20px;
  }
}

/* DARK THEME */

body.dark-theme .search {
  &__field {
    background: $dark-color_bg;
    border-color: $dark-color_dark;
    color: $dark-color_light;

    &:focus {
      border-color: $dark-color_med;
    }
  }
  &__search-icon {
    color: $dark-color_dark;
  }
}
