.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  padding: 5px 10px;
  background-color: $color_dark;
  border: none;
  border-radius: $radius_btn;

  font-size: 0.9rem;
  color: #fff;

  & ion-icon {
    margin-right: 10px;
    font-size: 1.2rem;
  }
}
