.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  padding: 5px 15px;
  background: $color_med;
  border: none;
  border-radius: $radius_round;

  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;

  cursor: pointer;
  overflow: hidden;
  transition: background $anim_fast ease-out;

  &:hover {
    background: $color_med_hover;
  }

  &__icon {
    margin-right: 10px;
    font-size: 1rem;
  }
}
