.footer {
  margin-top: 80px;
  padding: 35px 0;

  font-size: 0.8rem;
  color: $color_dark;
  text-align: center;

  &__wrap {
    margin: 0 auto;
    width: 100%;
    max-width: $wrapper_width;
  }
}
