.form {
  &__login {
    & > * + * {
      margin-left: 10px;
    }
  }

  &__login-input {
    max-width: 150px;
    padding: 5px 10px;

    border: none;
    border-radius: $radius_btn;

    font-size: 0.9rem;
  }
}
