.header {
  border-bottom: 1px solid $color_light;

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    max-width: $wrapper_size;
  }

  &__logo {
    font-size: 2rem;
    color: $color_dark;
  }

  &__tools {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * + * {
      margin-left: 20px;
    }
  }

  &__theme-icon {
    font-size: 1.5rem;
    color: $color_dark;
  }
}
